@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary: #6c2c86;
  --primary-dark: #b014cf;
  --accent: #a910a9;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  scroll-behavior: smooth;
}

.gradient-text {
  background: linear-gradient(135deg, var(--primary), #d214e0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}




.blob {
  position: absolute;
  filter: blur(80px);
  opacity: 0.4;
  z-index: -1;
  animation: move 20s infinite alternate;
}

.blob-1 {
  width: 500px;
  height: 500px;
  background: #930fc3;
  top: -100px;
  left: -100px;
}
.blob-2 {
  width: 400px;
  height: 400px;
  background: #ad0eca;
  bottom: -50px;
  right: -50px;
  animation-delay: -5s;
}
.blob-3 {
  width: 300px;
  height: 300px;
  background: #833692;
  top: 40%;
  left: 50%;
  animation-delay: -10s;
}

@keyframes move {
  from {
    transform: translate(0, 0) scale(1);
  }
  to {
    transform: translate(100px, 50px) scale(1.1);
  }
}

.glass-nav {
  background: rgba(124, 85, 128, 0.7);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--primary);
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.btn-primary {
  background: var(--primary);
  color: rgb(255, 255, 255);
  padding: 1rem 2.5rem;
  border-radius: 1.5rem;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0 20px 40px -10px rgba(252, 251, 252, 0.3);
}

.btn-primary:hover {
  transform: translateY(-5px);
  background: var(--primary-dark);
  box-shadow: 0 25px 50px -12px rgba(253, 254, 254, 0.5);
}

.btn-secondary {
  background: rgb(255, 255, 255);
  color: var(--primary-dark);
  padding: 1rem 2.5rem;
  border-radius: 1.5rem;
  border: 2px solid #f1f1f1;
  transition: all 0.3s ease;
}

.btn-secondary:hover {
  border-color: var(--primary);
  background: #ffffff;
}

.img-card {
  height: 20rem;
  background: #6d3674;
  border-radius: 2.5rem;
  overflow: hidden;
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.1);
}

.img-zoom {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.img-card:hover .img-zoom {
  transform: scale(1.15);
}

.mobile-nav-link {
  padding: 1rem 0;
  border-bottom: 1px solid #702378;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #570e69;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}
